option_settings:

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: TCS_CATALOG_URL
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: TCS_CATALOG_USERNAME
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: TCS_CATALOG_PASSWORD
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: OLTP_URL
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: OLTP_USERNAME
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: OLTP_PASSWORD
    value: TBD
